.carousel-caption {
  position: absolute;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  left: 0 !important;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  text-align: center;
  background-color: rgba($color: #000, $alpha: 0.6)
}