nav#main-tecfa-nav {
  /*height: 80px;*/

  a.nav-link {
    color: white !important;
  }

  .active > a.nav-link {
    color: #61c5ed !important;
  }

  a.nav-link:hover {
    color: #ddd !important;
  }
}
